a {
	-moz-user-select: none;
	color: #1155CC !important;
	font-family: "verdana", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#frame1, #frame0 {
	background-color: #F7F7F7;
	margin: 30px auto auto;
	padding: 10px;
	width: 750px;
	border: 1px solid #EEE;
}
#fade {
	background: none repeat scroll 0 0 #D3DCE3;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.4;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
#centerBox {
	background-color: #FFFFFF;
	border: 5px solid #FFFFFF;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	display: none;
	max-height: 480px;
	overflow: auto;
	visibility: hidden;
	width: 710px;
	z-index: 100;
}
.box1 {
	background: none repeat scroll 0 0 #F3F7FD;
	border: 1px solid #D3E1F9;
	font-size: 12px;
	margin-top: 5px;
	padding: 4px;
}
.captchabox {
	margin-left: 1rem;
    padding: 0.7rem;
    max-width: 46%;
	font-family: verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	background-color: #E4E4E4;
}